.text {
  font-size: 70px;
  text-align: left;
  padding-left: 2vh;
  margin-top: 1vh;
}

.cristal {
  /* pointer-events: none; */ /* This is the line that didnt allow scroll wheel function */
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 3px, 2px 100%;
}

.terminal {
  overflow: auto;
  padding-top: 5vh;
  background-color: #030C08;
  height: 100vh;
  width: fill;
}

p.tcomands {
  text-align: left;
  padding-top: 2vh;
  padding-left: 10vh;
  font-size: 30px;
}
