.windowsXP {
  top: 50%;
  left: 60%;
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img.window {
  position: fixed;
  width: 130vh; 
}

#x {
  height: 4vh;
  width: 4vh;
  z-index: 100;
  position: absolute;
  bottom: 41.8vh;
  left:60.3vh;
  animation: none;
  cursor: pointer;
  /* visibility: hidden; */
  opacity: 0;
}