.windowsXP {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 77%;
  height: 77.8%;
  max-width: 90vw; /* Limit maximum width to 90% of viewport width */
  max-height: 90vh; /* Limit maximum height to 90% of viewport height */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: absolute;
  width: 100%; 
}

#x {
  height: 3vh;
  width: 3vh;
  z-index: 100;
  position: absolute;
  top: 0.4%;
  right: 0.7%;
  cursor: pointer;
  /* visibility: hidden; */
  opacity: 0;
}