.windowsXP {
  top: 50%;
  right: 50%;
  width: 10vw;
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img.window {
  position: fixed;
  width: 100vh; 
}

#x {
  height: 3vh;
  width: 3vh;
  z-index: 100;
  position: absolute;
  bottom: 32vh;
  left:52.9vh;
  cursor: pointer;
  /* visibility: hidden; */
  opacity: 0;
}