@font-face {
  font-family: "terminal";
  src: url('/home/johndev/code/projects/portfolio/src/app/terminalFont.ttf');
  src: url('/home/johndev/code/projects/portfolio/src/app/terminalFont.ttf') format('truetype');
}

*{
  font-family: "terminal";
  text-shadow : horizontal-shadow vertical-shadow blur color;
  color:#0B9F52;
  text-shadow:0px 0px 13px #0b8647, 0px 0px 13px #3f3f3f;
  text-align:center;
}

body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
}