@font-face {
  font-family: "terminal";
  src: url('/home/johndev/code/projects/portfolio/src/app/terminalFont.ttf');
  src: url('/home/johndev/code/projects/portfolio/src/app/terminalFont.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: "terminal";
}

h1 {
  text-align: center;
  font-family: "terminal";
}
