input {
  border: none;
  background: #030C08;
}

input:focus {
  border: transparent;
  outline-width: 0;
}

input.middle:focus {
  outline-width: 0;
}

.input {
  position: absolute;
  padding-top: 5vh;
  left: 17vh;
}

input.inputBack {
  text-align: left;
}
