input {
  border: none;
  background: transparent;
  width: 100vh;
}

input:focus {
  border: transparent;
  outline-width: 0;
}

input.middle:focus {
  outline-width: 0;
}

.input {
  position: absolute;
  padding-top: 2vh;
  left: 17vh;
}

input.inputBack {
  text-align: left;
}
