.iframe {
  width: 98.7%; /* Relative width to the parent div */
  height: calc(100% - 36%); /* Set height to fill remaining space within parent div */
  border: none;
  box-sizing: border-box;
  position: absolute;
  top: 25%; /* Adjust according to your layout */
  overflow: hidden;
}